<main>
    <div class="about__first-block">
    <div class="about__first-block_red-square"></div>
    <h2>О НАС</h2>
    <div class="about__first-block_text">
        <p></p>Мы создаем маркетинговые стратегии, бизнес и рекламу. Четкая стратегическая коммуникация каждого нашего проекта вдохновляет потребителей взглянуть на мир с новой точки зрения, а кого-то — снова увидеть то, что за годы забылось.</div>
    <div class="about__first-block_boxes">
        <section><img src="./img/about/icons8-brain-80.png" alt="brain" />
            <p>глубоко анализируем бизнес наших клиентов</p>
        </section>
        <section><img src="./img/about/icons8-alarm-clock-80.png" alt="brain" />
            <p>оперативность и качество</p>
        </section>
        <section><img src="./img/about/icons8-cafe-80.png" alt="brain" />
            <p>креативное мышление</p>
        </section>
        <section><img src="./img/about/icons8-calendar-80.png" alt="brain" />
            <p>ответственность и преданность делу</p>
        </section>
    </div>
</div>
</main>