footer
    nav#footerNav.footer__nav
        .footer__nav-href
            a(href='#') Main
        .footer__nav-href
            a(href='seriesPage') Selected
        .footer__nav-href
            a(href='#') blah blah