footer
    nav#footerNav.footer__nav
        .footer__nav-href
            ul.footer__nav_submenu
                li
                    a(href='projects.html') Проекты
        .footer__nav-href
            ul.footer__nav_submenu
                li
                    a(href='#') Услуги
                li
                    a(href='#') Стратегия
                li
                    a(href='#') Реклама
                li
                    a(href='#') Media
        .footer__nav-href
            ul.footer__nav_submenu
                li
                    a(href='about.html') О нас
                li
                    a(href='#') Команда
                li
                    a(href='#') Люди
                li
                    a(href='#') Идея
        .footer__nav-href
            ul.footer__nav_submenu
                li
                    a(href='contacts.html') Контакты
    div.footer__bottom
        a(href='index.html')
            img.footer-logo(src='./img/logo.png' alt='logo image')
        .share_buttons
            // AddToAny BEGIN
            .a2a_kit.a2a_kit_size_32.a2a_default_style
                a.a2a_button_facebook
                a.a2a_button_twitter
                a.a2a_button_pinterest
                a.a2a_button_telegram
            // AddToAny END
        div.footer__copyright Taras &copy; 2018

