
header.header#header
    a(href='index.html')
        img.header-logo(src='./img/logo.png' alt='logo image' )
    nav#headerNav.header__nav
        .navigation__buttons_href
            a(href='projects.html') Проекты
            ul.header__nav_submenu
        .nav__upLine |
        .navigation__buttons_href
            a(href='#') Услуги
            ul.header__nav_submenu
                li
                    a(href='#') Стратегия
                li
                    a(href='#') Реклама
                li
                    a(href='#') Media
        .nav__upLine |
        .navigation__buttons_href
            a(href='about.html') О нас
            ul.header__nav_submenu
                li
                    a(href='#') Команда
                li
                    a(href='#') Люди
                li
                    a(href='#') Идея
        .nav__upLine |
        .navigation__buttons_href
            a(href='contacts.html') Контакты
    #header__burger
        span
        span
        span
        span