header.header#header
    nav#headerNav.header__nav
        .navigation__buttons_href
            a(href='index.html') Main
        .navigation__buttons_href
            a(href='selectedSeries.html') Selected
        .navigation__buttons_href
            a(href='#') blah blah
