
<header class="header">
    <img src="./img/logo.png" class="header-logo" alt="logo image">
    <nav class="header__nav" id="headerNav">
        <div class="navigation__buttons_href">
            <a href="#" >Проекты</a>
            <ul class="header__nav_submenu">
                <li><a href=#>Submenu </a></li>
                <li><a href=#>Submenu</a></li>
                <li><a href=#>Submenu</a></li>
            </ul>
        </div>
        <div class="nav__upLine">|</div>
        <div class="navigation__buttons_href">
            <a href="#" >Услуги</a>
            <ul class="header__nav_submenu">
                <li><a href=#>Submenu </a></li>
                <li><a href=#>Submenu</a></li>
                <li><a href=#>Submenu</a></li>
            </ul>
        </div>
        <div class="nav__upLine">|</div>
        <div class="navigation__buttons_href">
            <a href="about.html" >О нас</a>
            <ul class="header__nav_submenu">
                <li><a href=#>Submenu </a></li>
                <li><a href=#>Submenu</a></li>
                <li><a href=#>Submenu</a></li>
            </ul>
        </div>
        <div class="nav__upLine">|</div>
        <div class="navigation__buttons_href">
            <a href="contacts.html" >Контакты</a>
        </div>
    </nav>
    <div id="header__burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
