header.header#header
    nav#headerNav.header__nav
        .navigation__buttons_href
            a(href='#') Main
        .navigation__buttons_href
            a(href='seriesPage') Selected
        .navigation__buttons_href
            a(href='#') blah blah
