
// Body
$body-bg: linear-gradient(to right, #ffedbc, #ED4264);
// Typography
$font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-white:#fff;
$color-black:#282828;
$color-grey:#dcdcdc;
$color-grey2:#f8f7f7;
$color-red:#ED4264;
$color-pink:#ffe5e6;
$color-green:#009a44;
$color-dark-green:#047a38;
$beige:#f7f7f4;
$dark-blue:#205b6f;
$cyan: #6cb2eb;
// shadows
$box-shadow1:2px 2px 8px -1px $color-grey;
$box-shadow2:2px 2px 8px -1px $color-grey;


