doctype html
html(lang="ru")
    include templates/head
    include templates/header
    body
        div.wrapper
            div.main
                div.title-container
                    h2.title-container__title Find your perfect series
                div.form-container
                    input(type='text', placeholder='Enter series name' id="mainInput" value="")
        include templates/footer
